
img {
        width: 200px;
        height: auto;
        margin: 0 auto;
        display: block;
    }
h2 {
        color: red;
       }
p {
        font-size: 18px;
        color: white;
      }
h1{
        text-align: center;
        font-size: 36px;
        color: white;
       }
.profile-header {
          text-align: center;  
        background-color: blueviolet; 
     }
     
li {
        color: white;
    }
body {
        background-color: rgb(10, 10, 10);
    }
a {
        color: aqua;
    }